html, body {
    font-family: Varela Round;
    font-style: normal;
    font-weight: normal;
    background-color: #e3eeff;
}

.Main_Container {
    max-width: 1400px !important;
}

@import 'styles/movies_management.scss';
